.header-bar{
    display: inline-block;
    width: 40px;
    height: 3px;
    /* background: var(--color-primary-100); */
    transform: translateY(-4px);
    margin-right: 2px;
}

.about-det{
    display: flex;
    gap: 3rem;
    padding: 10px 0 30px;
}
.about-img .about-animation{
    width: 350px;
}
.about-text .info{
    
    width: 70%;
}
.about-text p{
    margin-top: 1rem;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.6;
}
.about-text .last{
    margin-bottom: 15px;
}
.about-text .last a{
    color:var(--color-primary-300);
}
.about-text .last a:hover{
    text-decoration: underline;
}
@media screen and (max-width:1240px) {
    .about-text .info{
        
        width: 100%;
    }   
}
@media screen and (max-width:950px) {
    .about-text h2{
        font-size: 2rem;
        margin-bottom: 7px;
    }
    .about-text p{
        font-size: var(--p-font-small-1);
    }
}

@media screen and (max-width:975px){
        .about-img .about-animation{
        width: 400px;
    }
}



@media screen and (max-width:800px) {
    .about-det{
       flex-direction: column-reverse;
    }
}
@media screen and (max-width:450px) {    
    .about-img .about-animation{
        width: 100%;
    }
    .about-text p{
        font-size: var(--p-font-small-1);
    }
}



/* LIGHT/DARK THEME */

body.dark .header h2, body.dark .header p{
  color: var(--text-color-light);
}
body.dark .header .header-bar{
  background-color: var(--color-primary-300);
}

body.dark .about-text p{
    color: var(--text-color-light);
}