.contact-info{
    text-align: center;
    padding-bottom: 40px;
}
.contact-info .sub-text p{
    font-size: var(--p-font-small-1);
    font-weight: 400;
    /* letter-spacing: .2px; */
}
.contact-info .text{
    margin-bottom: 20px;
}

@media screen and (max-width:950px) {
    .contact-info p{
        font-size: var(--p-font-small-1);
    }
}
@media screen and (max-width: 800px) {
    .contact-info .header{
        text-align: center;
    }   
}
@media screen and (max-width:450px) {
    .contact-info .sub-text p{
        font-size: var(--p-font-small-2);
        letter-spacing: 0;
    }
}

/* LIGHT/ DARK THEME */

body.dark .sub-text p{
    color: var(--text-color-light);
}

body.dark .contact-btn {
    background-color: var(--color-primary-300);
}